/* Basic structure */
:root {
	font-size: 15.2px;
}
@media (max-width: 599px) {
	:root {font-size: 2.5vw}
}
@media (max-width: 479px) {
	:root {font-size: 12px}
}
body {
	background-color: rgb(44, 44, 44);
	background-image: url(../img/background.jpg);
	background-size: 100% auto;
	background-repeat: repeat-y;
	background-attachment: fixed;
	background-position: center;
}
#main {
	position: relative;
	margin: 0 auto;
	width: 40%;
	min-width: 600px;
	height: 100%;
	font-size: 1rem;
}
@media (max-width: 599px) {
	#main {
		width: 100%;
		min-width: 100%;
	}
}
body::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
body::-webkit-scrollbar-track {
	border-radius: 6px;
	background: #808080;
}
body::-webkit-scrollbar-thumb {
	border-radius: 6px;
	background: #505050;
}
body::-webkit-scrollbar-thumb:hover {
	background: #303030;
}
body::-webkit-scrollbar-thumb:active {
	background: #202020;
}
html, body {
	scrollbar-width: auto;
	scrollbar-color: #808080 #505050;
}
:focus-visible {
	outline: 1px auto #222222;
}
.focus-visible {
	outline: 1px auto #222222;
}
[tabindex="-1"]:focus-visible {
	outline: none;
}
[tabindex="-1"].focus-visible {
	outline: none;
}
.no-break {
	white-space: nowrap;
}
/* Navigation */
#navbar_container {
	position: fixed;
	top: 0;
	left: 0;
	width: 30%;
	height: 100vh;
	z-index: 11;
	overflow: hidden;
}
@media (max-width: 1500px) {
	#navbar_container {
		width: calc(50% - 300px);
	}
}
#navbar {
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: border-box;
	padding: 0 1px;
	width: 15px;
	height: 100vh;
	background-color: #603838;
	transition: 0.3s;
	transition-property: width, opacity;
}
#navbar:empty {
	display: none;
}
#navbar.show {
	width: 40px;
}
#navbar_contents {
	width: 100%;
	height: 100%;
	display: grid;
	display: -ms-grid;
	grid-row-gap: 1px;
	grid-template-columns: 100%;
	-ms-grid-columns: 100%;
	font-size: 1.4em;
	font-size: min(max(1.1em, 2.4vh), 1.4em);
	pointer-events: none;
	transition: inherit;
	transition-property: none;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
#navbar.show #navbar_contents {
	pointer-events: auto;
}
@media (max-width: 680px) {
	#navbar_container {
		width: 40px;
		visibility: hidden;
	}
	#navbar {
		left: 0;
		right: auto;
		visibility: visible;
		opacity: 0;
		transition-property: width, opacity;
	}
	#navbar.show {
		opacity: 1;
	}
}
#navbar_contents::-webkit-scrollbar {
	display: none;
}
#navbar .navitem {
	/*position: static;*/
	margin: 0;
	border: none;
	padding: 0.1em 0;
	display: -moz-box;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	outline: none;
	background-color: #402030;
	cursor: pointer;
	font-family: "Arial", sans-serif;
	transition: inherit;
	transition-property: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#navbar .navitem.current {
	background-color: #5020A0;
}
.navtext {
	width: 100%;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	color: #FF8080;
	opacity: 0;
	transition: inherit;
	transition-property: opacity;
}
#navbar.show .navtext {
	opacity: 1;
}
.navitem:hover > .navtext,
.navitem.focus-visible > .navtext {
	color: #FFFFFF;
}
@media (hover: none), (pointer: coarse) {
	.navitem:hover > .navtext {
		color: #FF8080;
	}
	.navitem:active > .navtext {
		color: #FFFFFF;
	}
}
.navicon {
	width: 100%;
	height: 1em;
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: auto 3em;
	opacity: 0;
	transition: inherit;
	transition-property: opacity;
}
#navbar.show .navicon {
	opacity: 1;
}
.navitem:hover > .navicon,
.navitem.focus-visible > .navicon {
	background-position-y: -2em;
}
@media (hover: none), (pointer: coarse) {
	.navitem:hover > .navicon {
		background-position-y: 0;
	}
	.navitem:active > .navicon {
		background-position-y: -2em;
	}
}
#icon_info        {background-image: url(../img/icons/info.svg);}
#icon_manual      {background-image: url(../img/icons/manual.svg);}
#icon_speculation {background-image: url(../img/icons/lightbulb.svg);}
#icon_book        {background-image: url(../img/icons/book.svg);}
/* Menu */
#menu_container {
	position: fixed;
	top: 0;
	right: 0;
	width: 30%;
	height: 100vh;
	z-index: 10;
	overflow: hidden;
}
@media (max-width: 1500px) {
	#menu_container {
		width: calc(50% - 300px);
	}
}
#menu {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 40px);
	max-width: 28rem;
	min-width: 25rem;
	height: 100vh;
	transform: translate(-100%, 0);
	background-color: #5D2D3D;
	transition: 0.6s;
	transition-property: transform;
}
#menu_button_wrapper {
	position: absolute;
	box-sizing: border-box;
	left: 100%;
	width: 15px;
	height: 100%;
	overflow: hidden;
	padding: 0 1px;
	background-color: #5D2D3D;
	transition: 0.3s;
	transition-property: width;
}
#menu_button_wrapper.show,
#menu_container.show #menu_button_wrapper {
	width: 40px;
}
#menu_button {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background-color: #502030;
	cursor: pointer;
	outline: none;
	pointer-events: none;
}
#menu_button_wrapper.show #menu_button,
#menu_container.show #menu_button {
	pointer-events: auto;
}
#menu_container.show #menu_button_wrapper {
	padding: 0;
}
#menu_button > div {
	position: absolute;
	left: 20%;
	width: 60%;
	height: 4px;
	background-color: #FF8080;
	visibility: hidden;
	transition: 0.6s;
	transition-property: opacity, transform;
}
#menu_button_wrapper.show #menu_button > div {
	background-color: #FFFFFF;
}
#menu_button_wrapper.show #menu_button > div,
#menu_container.show #menu_button > div {
	visibility: visible;
}
#menu_button > div:nth-child(1) {
	bottom: calc(50% + 8px);
}
#menu_button > div:nth-child(2) {
	top: calc(50% - 2px);
}
#menu_button > div:nth-child(3) {
	top: calc(50% + 8px);
}
#menu_container.show #menu_button > div:nth-child(1) {
	transform: translate(0,10px) rotate(45deg);
}
#menu_container.show #menu_button > div:nth-child(2) {
	opacity: 0;
}
#menu_container.show #menu_button > div:nth-child(3) {
	transform: translate(0,-10px) rotate(-45deg);
}
#menu_content_wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#menu_content {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 10px 0 10px 0;
	border-left: 15px solid #502030;
	visibility: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #5D2D3D;
	color: #FF8080;
	font-size: 1.4em;
	font-family: "Arial", sans-serif;
	transition: 0.6s;
	transition-property: visibility;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
#menu_content::-webkit-scrollbar {
	display: none;
}
#menu_container.show #menu {
	transform: none;
}
#menu_container.show #menu_content {
	visibility: visible;
}
@media (max-width: 1440px) {
	#menu_container {
		overflow: visible;
		visibility: hidden;
	}
	#menu {
		left: auto;
		right: 100%;
		transform: none;
		background: transparent;
		overflow: visible;
		visibility: hidden;
		transition-property: right;
	}
	#menu_container.show #menu {
		right: 40px;
	}
	#menu_button_wrapper {
		visibility: visible;
	}
	#menu_content {
		transform: translate(100%,0);
		transition: 0.6s;
		transition-property: transform, visibility;
	}
	#menu_container.show #menu_content {
		transform: none;
	}
}
@media (max-width: 680px) {
	#menu_container {
		position: fixed;
		top: 0;
		right: 0;
	}
	#menu {
		right: 40px;
		transition-property: none;
	}
	#menu_button_wrapper {
		width: 40px;
		transform: translate(25px, 0);
		opacity: 0;
		transition-property: transform, opacity;
	}
	#menu_button_wrapper.show,
	#menu_container.show #menu_button_wrapper {
		transform: none;
		opacity: 1;
	}
}
@media (max-width: 340px) {
	#menu {
		width: calc(100vw - 40px);
		min-width: calc(100vw - 40px);
		max-width: calc(100vw - 40px);
	}
}
.menu-item {
	display: block;
	position: relative;
	padding: 0.3rem 1.4rem;
	border: none;
	outline: none;
	text-align: left;
	background: transparent;
	color: #FF8080;
}
.menu-item:hover,
.menu-item.focus-visible-within {
	background-color: #804050;
}
.menu-item.interactive {
	cursor: pointer;
}
.menu-item.interactive:hover,
.menu-item.interactive.focus-visible {
	color: #FFFFFF;
}
@media (hover: none), (pointer: coarse) {
	.menu-item.interactive:hover {
		color: #FF8080;
	}
	.menu-item.interactive:active {
		color: #FFFFFF;
	}
}
.menu-item-button {
	position: absolute;
	margin: 0;
	padding: 2px;
	border: none;
	border-radius: 0.7rem;
	outline: none;
	top: 50%;
	transform: translate(0,-50%);
	width: 5rem;
	height: 2em;
	text-align: center;
	font-size: 1rem;
	background-color: #404080;
	background-image: linear-gradient(to bottom, #8888FF, #5555A0);
	color: #FFFFFF;
	cursor: pointer;
}
.menu-item-button:nth-last-child(1) {
	right: 0.3rem;
}
.menu-item-button:nth-last-child(2) {
	right: 5.6rem;
}
.menu-item-button {
	opacity: 0;
}
.menu-item:hover > .menu-item-button,
.menu-item.focus-visible-within > .menu-item-button {
	opacity: 0.5;
}
.menu-item > .menu-item-button:hover,
.menu-item > .menu-item-button.focus-visible {
	opacity: 1.0;
}
.menu-item-button:active {
	background-image: linear-gradient(to bottom, #5555A0, #8888FF);
}
@media (hover: none), (pointer: coarse) {
	.menu-item > .menu-item-button:hover {
		opacity: 0.5;
	}
	.menu-item > .menu-item-button:active {
		opacity: 1.0;
	}
}
.submenu > .submenu-content {
	font-size: 1em;
}
.submenu .submenu > .submenu-content {
	font-size: 0.85em;
}
.submenu .submenu .submenu > .submenu-content {
	font-size: 0.9em;
}
.menu-item {
	padding-left: 1.4rem;
}
.submenu-content .menu-item {
	padding-left: 1.4rem;
}
.submenu-content .submenu-content .menu-item {
	padding-left: 2.8rem;
}
.submenu-content .submenu-content .submenu-content .menu-item {
	padding-left: 4.2rem;
}
.submenu-main > .menu-item {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	font-size: 1.2em;
	font-weight: bold;
}
#menu input[type='number'] {
	background-color: #502030;
	color: #FF8080;
	border: 1px solid currentColor;
	outline: none;
}
#menu input[type='number']:focus {
	color: #FFFFFF;
}
#spoiler_episode_limit {
	width: 2.5em;
}
#menu a[href] {
	text-decoration: none;
	outline: none;
}
/* Header */
.header {
	padding: 0 1.5rem;
	background-color: rgba(64, 64, 64, 0.9);
}
.title {
	margin: 0;
	padding: 0.8em 0;
	text-align: center;
	font-size: 2.2em;
	font-family: "Times", serif;
	font-weight: bold;
	font-style: italic;
	line-height: 1.4;
	color: #FF6060;
}
/* Content */
h2 {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	font-weight: bold;
}
h3 {
	font-size: 1.2em;
	font-weight: bold;
}
h4 {
	font-size: 1em;
	font-weight: bold;
}
h5 {
	font-size: 1em;
	font-weight: bold;
}
.content {
	background-color: #222222;
	text-align: justify;
	hyphens: auto;
	font-size: 1em;
	font-family: "Arial", sans-serif;
	line-height: 1.4;
}
.panel-major > .panel-heading {
	padding: 0.25em 1.2rem;
	border: none;
	text-align: left;
	font-size: 1.5em;
	background-color: #000055;
}
.panel-major > .panel-heading > * {
	font-size: 1em;
}
.panel-minor > .panel-heading {
	padding: 0;
	border: none;
	text-align: left;
	background: transparent;
}
.panel-major > .panel-body {
	padding: 1.2rem 3.6rem;
	color: #E0E0E0;
}
.panel-body div,
.panel-body p,
.panel-body ol,
.panel-body ul {
	margin: 0.6rem 0;
}
.panel-body li {
	margin: 0.3rem 0;
}
.panel-body h3 {
	margin: 1.2rem 0;
}
.panel-body h4 {
	margin: 1.1rem 0 0.6rem 0;
}
.panel-body li > h4 {
	margin: 0.3rem 0 0.2rem 0;
}
.panel-body li > h4 + p {
	margin-top: 0.2rem;
}
.panel-body .highlight {
	text-align: center;
	font-weight: bold;
}
.panel-body *:first-child {
	margin-top: 0;
}
.panel-body *:last-child {
	margin-bottom: 0;
}
.panel-body li > p.highlight {
	margin-top: 0.6rem;
	margin-bottom: 0.6rem;
}
.panel-body li > ul:first-of-type {
	margin-top: 0.3rem;
}
.panel-body li > .collapsible:not(.show):last-child:not(:first-child) {
	margin-bottom: 0.6rem;
}
em {
	font-style: italic;
}
.strong {
	font-weight: bold;
}
.term, .thought, .othertitle {
	font-style: italic;
}
.line {
	display: inline-block;
}
.panel-body .text-button {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	color: inherit;
}
.panel-body a[href],
.panel-body a[data-goto],
.panel-body .text-button {
	color: #FFA0A0;
	text-decoration: underline;
	cursor: pointer;
}
.panel-body a[href]:hover,
.panel-body a[data-goto]:hover,
.panel-body .text-button:hover {
	text-decoration: none;
}
.panel-body a:active,
.panel-body a.focus-visible,
.panel-body .text-button:active,
.panel-body .text-button.focus-visible {
	color: #FFFFFF;
	outline-offset: 0.1em;
	text-decoration: none;
}
@media (hover: none), (pointer: coarse) {
	.panel-body a[href].arming,
	.panel-body a[data-goto].arming,
	.panel-body .text-button.arming {
		text-decoration: underline;
		color: #FFFFFF;
	}
	.panel-body a[href].focus-visible,
	.panel-body a[data-goto].focus-visible,
	.panel-body .text-button.focus-visible {
		text-decoration: none;
	}
}
.chapters {
	margin-bottom: 1.2rem;
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border: none;
}
.chapters td {
	border: 1px solid #808080;
	font-family: Calibri;
}
.chapters td:nth-of-type(1),
.chapters td:nth-of-type(3) {
	width: 8%;
	padding: 0.3rem 0.1rem;
	text-align: center;
	color: #FFC0C0;
	font-size: 1.1em;
	line-height: 1em;
	word-break: break-all;
}
.chapters td:nth-of-type(1) {
	background: #A01010;
}
.chapters td:nth-of-type(3) {
	background: #1010A0;
}
.chapters td:nth-of-type(2),
.chapters td:nth-of-type(4) {
	padding: 0.3rem 0.6rem;
	text-align: center;
	background: #404040;
	color: #E0E0E0;
}
.inline-spoiler {
	cursor: pointer;
	background-color: currentColor;
}
.inline-spoiler.arming,
.inline-spoiler.focus-visible {
	color: #FFFFFF;
}
.inline-spoiler.show {
	background-color: transparent;
}
.inline-spoiler:not(.show)::selection,
.inline-spoiler:not(.show) ::selection {
	color: transparent;
}
.inline-spoiler.tooltip-owner:not(.noprefix) > .tooltip::before {
	content: "Show";
}
.inline-spoiler.tooltip-owner:not(.noprefix).show > .tooltip::before {
	content: "Hide";
}
.inline-spoiler:not(.show) a {
	visibility: hidden;
}
.panel-body .quote,
.panel-body .excerpt {
	margin-left: 1.8rem;
	margin-right: 1.8rem;
	border-radius: 0.6rem;
	background-color: #583858;
}
.panel-body .quote {
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0.6rem;
	font-style: italic;
}
.panel-body .quote > * {
	-moz-box-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
}
.panel-body .quote::before {
	content: open-quote;
	margin-right: 0.6rem;
}
.panel-body .quote::after {
	content: close-quote;
	margin-left: 0.6rem;
}
.panel-body .quote::before,
.panel-body .quote::after {
	font-size: 3em;
	font-family: serif;
	opacity: 0.3;
}
.panel-body .excerpt {
	padding: 0.6rem 1.2rem;
}
.panel-body .excerpt p {
	margin: 0.3rem 0;
}
.panel-body .excerpt q {
	font-style: italic;
}
.panel-body li:not(:last-child) > .quote,
.panel-body li:not(:last-child) > .excerpt {
	margin-bottom: 0.6rem;
}
.dialogue > p {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
.dialogue > p:first-child {
	margin-top: 0;
}
.dialogue > p:last-child {
	margin-bottom: 0;
}
.speaker::after {
	content: ":";
}
.spoken-line {
	font-style: italic;
}
.spoken-line::before {
	content: open-quote;
}
.spoken-line::after {
	content: close-quote;
}
::selection {
	background: #3040A8;
}
/* Footer */
.footer {
	padding: 0.6rem 1.2rem;
	text-align: center;
	background-color: rgba(64, 64, 64, 0.9);
	color: #8080D0;
}
.footer a {
	color: #FF6060;
}
.footer a:active {
	color: #FFFFFF;
}
/* Collapsible elements */
.collapsible {
	position: relative;
}
.collapsible > .collapse-toggle {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.panel-major.collapsible > .collapse-toggle {
	color: #FF8888;
}
.panel-minor.collapsible > .collapse-toggle {
	color: #FFA0A0;
	outline-offset: 0.3em;
}
.collapsible > .collapse-toggle:hover,
.collapsible > .collapse-toggle.focus-visible {
	color: #FFFFFF;
}
@media (hover: none), (pointer: coarse) {
	.panel-major.collapsible > .collapse-toggle:hover {
		color: #FF8888;
	}
	.panel-minor.collapsible > .collapse-toggle:hover {
		color: #FFA0A0;
	}
	.submenu.collapsible > .collapse-toggle:hover {
		color: #FF8080;
	}
	.panel-major.collapsible > .collapse-toggle:active,
	.panel-minor.collapsible > .collapse-toggle:active,
	.submenu.collapsible > .collapse-toggle:active {
		color: #FFFFFF;
	}
}
.panel-major.collapsible > .collapse-toggle {
	outline: none;
}
.panel-major.collapsible > .collapse-toggle {
	padding-right: 3.6rem;
}
.panel-minor.collapsible > .collapse-toggle,
.submenu.collapsible > .collapse-toggle {
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}
.submenu-main.collapsible > .collapse-toggle {
	justify-content: center;
}
.panel-minor.collapsible > .collapse-toggle.focus-visible {
	outline: 1px auto #222222;
}
.panel-minor.collapsible > .collapse-toggle:not(.noprefix) > div::before {
	content: "Show ";
}
.panel-minor.collapsible.show > .collapse-toggle:not(.noprefix) > div::before {
	content: "Hide ";
}
.collapsible > .collapse-toggle::after {
	width: 0.8em;
	height: 0.8em;
	background-image: url(../img/icons/toggle.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 1.6em 1.6em;
	content: "";
}
.panel-major.collapsible > .collapse-toggle::after {
	position: absolute;
	top: 50%;
	right: 1.2rem;
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	transform: translate(0,-50%);
}
.panel-minor.collapsible > .collapse-toggle > div {
	display: inline-block;
	vertical-align: middle;
	-moz-box-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	-moz-box-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
}
.panel-minor.collapsible > .collapse-toggle::after,
.submenu.collapsible > .collapse-toggle::after {
	display: block;
	margin-left: 0.5em;
	-moz-box-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
}
.collapsible > .collapse-toggle:hover::after,
.collapsible > .collapse-toggle.focus-visible::after {
	background-position-y: -0.8em;
}
@media (hover: none), (pointer: coarse) {
	.collapsible > .collapse-toggle:hover::after {
		background-position-y: 0;
	}
	.collapsible > .collapse-toggle:active::after {
		background-position-y: -0.8em;
	}
}
.collapsible.show > .collapse-toggle::after {
	background-position-x: -0.8em;
}
.collapsible > .collapse-content {
	display: none;
}
.collapsible.show > .collapse-content {
	display: block;
}
.panel-minor.collapsible.show > .collapse-toggle:hover ~ .collapse-content,
.panel-minor.collapsible.show > .collapse-toggle.focus-visible ~ .collapse-content {
	color: #FFFFFF;
	outline: 1px auto #222222;
	outline-offset: 0.3em;
}
@media (hover: none), (pointer: coarse) {
	.panel-minor.collapsible.show > .collapse-toggle:hover ~ .collapse-content {
		color: inherit;
	}
	.panel-minor.collapsible.show > .collapse-toggle:active ~ .collapse-content {
		color: #FFFFFF;
	}
}
.header-overlay {
	z-index: 5;
}
/* Tooltips */
.tippy-box {
	text-align: center;
	border-radius: 0.5rem;
	font-size: 1rem;
	background-color: #FF6060;
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.tippy-arrow {
	color: #FF6060;
}
/* Print */
@media print {
	/* Hiding interactive elements */
	#navbar_container,
	#menu_container,
	.tippy-box,
	.header-overlay {
		display: none !important;
	}
	.collapsible > .collapse-toggle::after {
		display: none !important;
	}
	.panel-minor.collapsible > .collapse-toggle > *::before {
		display: none !important;
	}
	.panel-minor.collapsible.show > .collapse-toggle {
		display: none !important;
	}
	.panel-minor.collapsible:not(.show) > .collapse-toggle > *::first-letter {
		text-transform: uppercase;
	}
	.panel-minor.collapsible:not(.show) > .collapse-toggle > *::after {
		content: " (hidden)";
	}
	.footer {
		display: none;
	}
	/* Printer-friendly graphics */
	body {
		background: transparent;
	}
	.header {
		background: transparent;
	}
	.title {
		color: #FF0000;
	}
	.content {
		background: transparent;
	}
	.panel-major > .panel-heading {
		background: transparent;
		color: #FF0000 !important;
		padding-top: 0.15em;
		padding-bottom: 0.15em;
	}
	.panel-major > .panel-body {
		color: black !important;
	}
	.panel-minor > .panel-heading {
		color: #E00000 !important;
	}
	.chapters * {
		background: #F0F0F0 !important;
		color: black !important;
		border-color: black !important;
	}
	.chapters td:nth-of-type(1),
	.chapters td:nth-of-type(3) {
		background: #D0D0D0 !important;
	}
	a {
		color: black !important;
		text-decoration: none !important;
	}
	a[href]::after {
		content: " [" attr(href) "]";
	}
	.quote,
	.excerpt {
		background: #D0D0D0 !important;
	}
	.quote::before,
	.quote::after {
		opacity: 1 !important;
	}
	.inline-spoiler {
		color: black !important;
	}
	.inline-spoiler:not(.show) {
		font-size: 0 !important;
		color: #FF4040 !important;
	}
	.inline-spoiler:not(.show)::after {
		font-size: 1rem;
		content: "[hidden: " attr(data-spoiler) "]";
	}
	/* Structure */
	#main {
		width: 100%;
	}
	.content {
		column-width: 520px;
		column-gap: 0;
	}
	/* Fonts */
	html {
		font-size: 14px;
	}
	.content {
		font-family: "Times New Roman", serif;
		font-size: 1.1em;
	}
	.chapters td:nth-of-type(2),
	.chapters td:nth-of-type(4) {
		font-family: "Times New Roman", serif;
	}
}
